{% extends 'base.html'%}

{%block title %}
<!DOCTYPE html>
<html>
<head>
<title>หน้าหลัก</title>
</head>
{% endblock %} 
{% block content %}
<body>
  <img src="https://i.imgur.com/uYQo3S2.png"  class="card-img-top" alt="#">
  <p><dd><FONT size=3>ฐานข้อมูลคือ

    ที่เก็บและรวบรวมข้อมูลอย่างเป็นระบบทางอิเล็กทรอนิกส์ ซึ่งสามารถเก็บข้อมูลได้ทุกประเภท ไม่ว่าจะเป็นคำ ตัวเลข รูปภาพ วิดีโอ และไฟล์ คุณสามารถใช้ซอฟต์แวร์ที่เรียกว่าระบบการจัดการฐานข้อมูล (DBMS) เพื่อจัดเก็บ กู้คืน และแก้ไขข้อมูล ในระบบคอมพิวเตอร์คำว่า ฐานข้อมูล ยังสื่อถึง DBMS ใด ๆ และรวมถึงระบบฐานข้อมูล หรือโปรแกรมประยุกต์ที่เกี่ยวข้องกับฐานข้อมูล
    </FONT>
<br>
<br>
    <p><dd><FONT size=3>ทำไมฐานข้อมูลจึงสำคัญ
      ฐานข้อมูลที่มีประสิทธิภาพสูงเป็นสิ่งสำคัญต่อทุกองค์กร ฐานข้อมูลสนับสนุนการดำเนินงานภายในของบริษัท และการจัดเก็บปฏิสัมพันธ์กับลูกค้าและซัพพลายเออร์ พวกเขายังเก็บข้อมูลการบริหารและข้อมูลที่เฉพาะเจาะจง เช่น วิศวกรรมหรือรูปแบบเศรษฐกิจ ตัวอย่างนั้นรวมถึงระบบห้องสมุดดิจิทัล ระบบการจองเพื่อการเดินทาง และระบบสินค้าคงคลัง มีเหตุผลบางประการว่าทำไมฐานข้อมูลถึงจำเป็นดังนี้ 
      </FONT>
<br>
<br>
      <p><dd><FONT size=3>การปรับขนาดที่มีประสิทธิภาพ
        ฐานข้อมูลแอปพลิเคชันสามารถจัดการข้อมูลจำนวนมาก ปรับขนาดเป็นล้าน พันล้าน และมากกว่านั้น เป็นไปไม่ได้ที่จะเก็บข้อมูลดิจิทัลจำนวนนี้โดยไม่มีฐานข้อมูล
        </FONT>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</body>







{%endblock%}